<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="main"> Main Chart
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="trading"> Trading
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="howTo"> How To
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="about"> About
    </label>
</div>