<div class="card m-2 shadow" *ngFor="let account of tradingDto.accounts">
    <div class="card-body">
        <div >
                <div *ngIf="account.state==state.OPEN">
                    <p>
                        <span>{{account.accountName}} </span>
                        <span>{{account.leverage}} </span>
                        <span>{{account.balance}} </span>
                    </p>
                    <button class="btn btn-primary mb-3">Settings</button>
                </div>
                <div *ngIf="account.state==state.EDIT">
                    <label for="account_name" class="form-label">Account Name</label>
                    <input type="number" class="form-control" id="account_name" [(ngModel)]="accountName">
                    <label for="leverage_max" class="form-label">Leverage Max</label>
                    <input type="number" class="form-control" id="leverage_max" [(ngModel)]="leverageMax">
                    <button class="btn btn-primary mb-3">Save Settings</button>
                    <button class="btn btn-primary mb-3">Cancel Edit</button>
                    <button class="btn btn-primary mb-3">Remove Account</button>
                </div>
                <div *ngIf="account.state==state.CREATION">

                </div>
    
            <div class="card m-2 shadow" *ngFor="let order of account.orders">
                <div class="card-body">
                    <p>
                        <span>{{order.currency}} </span>
                        <span>{{order.lot}} / </span>
                        <span>{{order.tpPips}} </span>
                        <span>{{order.tpVal}} / </span>
                        <span>{{order.slPips}} </span>
                        <span>{{order.slVal}} </span>
                        <span>{{order.profit}} </span>
                    </p>
                    <div *ngIf="order.state==state.OPEN">
                        <button class="btn btn-primary mb-3">Edit SL/TP</button>
                        <button class="btn btn-primary mb-3">Close</button>
                    </div>
                    <div *ngIf="order.state==state.EDIT">
                        <button class="btn btn-primary mb-3">Save SL/TP</button>
                        <button class="btn btn-primary mb-3">Cancel Edit</button>
                        <div class="mb-3">
                            <label for="tpPips" class="form-label">Take profit in pips</label>
                            <input class="form-control" id="tpPips" [(ngModel)]="tpPips" type="number">
                            <label for="slPips" class="form-label"> Stop loss in pips</label>
                            <input class="form-control" id="slPips" [(ngModel)]="slPips" type="number">
                        </div>
                    </div>
                    <div *ngIf="order.state==state.CREATION">
                        <button class="btn btn-primary mb-3">Save SL/TP</button>
                        <button class="btn btn-primary mb-3">Cancel Edit</button>
                        <div class="mb-3">
                            <label for="tpPips" class="form-label">Take profit in pips</label>
                            <input class="form-control" id="tpPips" [(ngModel)]="tpPips" type="number">
                            <label for="slPips" class="form-label"> Stop loss in pips</label>
                            <input class="form-control" id="slPips" [(ngModel)]="slPips" type="number">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
