<div class="card-body">
    <div >
        <p>
            <span>{{account.accountName}} </span>
            <span>{{account.leverage}} </span>
            <span>{{account.balance}} </span>
        </p>
        <button class="btn btn-primary mb-3" (click)="settings()">Settings</button>
        <p *ngIf="account.message">{{account.message}}</p>
        <div *ngIf="edit">
            <div *ngIf="account.created">
                <label for="account_name" class="form-label">Account Name</label>
                <input class="form-control" id="account_name" [(ngModel)]="account.accountName">
                <label for="leverage_max" class="form-label">Leverage Max</label>
                <input type="number" class="form-control" id="leverage_max" [(ngModel)]="account.leverage">
                <button class="btn btn-primary mb-3" (click)="saveSettings()">Save Settings</button>
                <button class="btn btn-primary mb-3" (click)="cancelEditSettings()">Cancel Edit</button>
                <button class="btn btn-primary mb-3" (click)="delete()">Remove Account</button>
                <p *ngIf="account.message">{{account.message}}</p>
            </div>
            <div *ngIf="!account.created">
                <label for="account_name" class="form-label">Account Name</label>
                <input  class="form-control" id="account_name" [(ngModel)]="account.accountName">
                <label for="leverage_max" class="form-label">Leverage Max</label>
                <input type="number" class="form-control" id="leverage_max" [(ngModel)]="account.leverage">
                <label for="balance" class="form-label">Balance</label>
                <input type="number" class="form-control" id="balance" [(ngModel)]="account.balance">
                <button class="btn btn-primary mb-3" (click)="saveAccount()">Save Account</button>
                <button class="btn btn-primary mb-3" (click)="delete()">Cancel</button>
                <p *ngIf="account.message">{{account.message}}</p>
            </div>
        </div>
        <div class="card m-2 shadow" *ngFor="let order of account.orders">
            <app-order [orderInput]="order"></app-order>
        </div>
    </div>
</div>
<button class="btn btn-primary mb-3" (click)='addOrder()'>Add Order</button>