<div class="card-body">
    <p>Currency: {{order.currency}}</p>
    <p>Lot: {{order.lot}}</p>
    <p>Take profit in pips:` {{order.tpPips}}</p>
    <p>Take profit in $: {{order.tpVal}}</p>
    <p>Stop loss in pips: {{order.slPips}}</p>
    <p>Stop loss in $ {{order.slVal}}</p>
    <p>Profit: {{order.profit}}</p>
    <p>Is long order:  {{order.longOrder}}</p>
    <p>Is order state: {{order.orderState}}</p>
    <button *ngIf="order.orderState == orderState.CLOSED" class="btn btn-primary mb-3" (click)="delete()">Delete</button>
    <div *ngIf="order.orderState != orderState.CLOSED">
        <div *ngIf="edit">
            <div class="mb-3">
                <div *ngIf="order.orderState==orderState.IN_CREATION">
                    <label for="lots" class="form-label">Lot settings</label>
                    <input class="form-control" id="lots" [(ngModel)]="order.lot" type="number" (ngModelChange)="onChange()">
                    <p *ngIf="correctness.lotInfo">{{correctness.lotInfo}}</p>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="order.longOrder" (ngModelChange)="onChange()">
                        <label ngbButtonLabel class="btn-success">
                            <input ngbButton type="radio" value="true">Buy
                        </label>
                        <label ngbButtonLabel class="btn-danger">
                            <input ngbButton type="radio" value="false">Sell
                        </label>
                    </div>
                </div>
                <label for="tpPips" class="form-label">Take profit in pips</label>
                <input class="form-control" id="tpPips" [(ngModel)]="order.tpPips" type="number" (ngModelChange)="onChange()">
                <p *ngIf="order.tpPips==0">{{unlimitedMessage}}</p>
                <p *ngIf="correctness.tpVal">Tp pips value in currency {{correctness.tpVal}}</p>
                <p *ngIf="correctness.lotInfo">{{correctness.tpPipsInfo}}</p>
                <label for="slPips" class="form-label"> Stop loss in pips</label>
                <input class="form-control" id="slPips" [(ngModel)]="order.slPips" type="number" (ngModelChange)="onChange()">
                <p *ngIf="order.slPips==0">{{unlimitedMessage}}</p>
                <p *ngIf="correctness.slVal">Sl pips value in currency {{correctness.slVal}}</p>
                <p *ngIf="correctness.slPipsInfo">{{correctness.slPipsInfo}}</p>
            </div>
        </div>
        <div *ngIf="!edit && order.orderState==orderState.OPENED">
            <button class="btn btn-primary mb-3" (click)="editSlTp()">Edit SL/TP</button>
            <button class="btn btn-primary mb-3" (click)="delete()">Close</button>
        </div>
        <div *ngIf="edit && order.orderState==orderState.OPENED">
            <button class="btn btn-primary mb-3" (click)="saveSlTp()">Save SL/TP</button>
            <button class="btn btn-primary mb-3" (click)="cancelEdit()">Cancel Edit</button>
        </div>
        <div *ngIf="edit && order.orderState==orderState.IN_CREATION">
            <button class="btn btn-primary mb-3" (click)="openOrder()">Open Order</button>
            <button class="btn btn-primary mb-3" (click)="delete()">Cancel</button>
        </div>
    </div>
</div>


