<div class="card-body">
    <div class="card-group mb-3">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Currency:</p>
                <p class="card-text">{{order.currency}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Lot:</p>
                <p class="card-text">{{order.lot}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Take profit in pips:</p>
                <p class="card-text">{{order.tpPips}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Take profit in $:</p>
                <p class="card-text">{{order.tpVal}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Stop loss in pips:</p>
                <p class="card-text">{{order.slPips}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Stop loss in $:</p>
                <p class="card-text">{{order.slVal}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Profit:</p>
                <p class="card-text">{{order.profit}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-title">Long/Short:</p>
                <p class="card-text" *ngIf="order.longOrder==true">LONG</p>
                <p class="card-text" *ngIf="order.longOrder==false">SHORT</p>
            </div>
        </div>
    </div>
    <button *ngIf="order.orderState == orderState.CLOSED" class="btn btn-outline-success" (click)="delete()">Delete</button>
    <div *ngIf="order.orderState != orderState.CLOSED">
        <div class="card-group mb-3" *ngIf="edit">
            <div class="card" *ngIf="order.orderState==orderState.IN_CREATION">
                <div class="card-body">
                    <label for="lots" class="form-label">Lot settings</label>
                    <input class="form-control" id="lots" [(ngModel)]="order.lot" type="number" (ngModelChange)="onChange()">
                    <p *ngIf="correctness.lotInfo">{{correctness.lotInfo}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <label for="tpPips" class="form-label">Take profit in pips</label>
                    <input class="form-control" id="tpPips" [(ngModel)]="order.tpPips" type="number" (ngModelChange)="onChange()">
                    <p *ngIf="order.tpPips==0">{{unlimitedMessage}}</p>
                    <p *ngIf="correctness.tpVal">Tp pips value in currency {{correctness.tpVal}}</p>
                    <p *ngIf="correctness.lotInfo">{{correctness.tpPipsInfo}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <label for="slPips" class="form-label"> Stop loss in pips</label>
                    <input class="form-control" id="slPips" [(ngModel)]="order.slPips" type="number" (ngModelChange)="onChange()">
                    <p *ngIf="order.slPips==0">{{unlimitedMessage}}</p>
                    <p *ngIf="correctness.slVal">Sl pips value in currency {{correctness.slVal}}</p>
                    <p *ngIf="correctness.slPipsInfo">{{correctness.slPipsInfo}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body" style="margin: auto; margin-top:2rem;">
                    <div >
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="order.longOrder" (ngModelChange)="onChange()">
                            <label ngbButtonLabel class="btn-outline-success btn-lg">
                                <input ngbButton type="radio" [value]="true">Buy
                            </label>
                            <label ngbButtonLabel class="btn-outline-danger btn-lg">
                                <input ngbButton type="radio" [value]="false">Sell
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!edit && order.orderState==orderState.OPENED" class="btn-group mb-3">
            <button class="btn btn-outline-success" (click)="editSlTp()">Edit SL/TP</button>
            <button class="btn btn-outline-success" (click)="delete()">Close</button>
        </div>
        <div *ngIf="edit && order.orderState==orderState.OPENED" class="btn-group mb-3">
            <button class="btn btn-outline-success" (click)="saveSlTp()">Save SL/TP</button>
            <button class="btn btn-outline-success" (click)="cancelEdit()">Cancel Edit</button>
        </div>
        <div *ngIf="edit && order.orderState==orderState.IN_CREATION" class="btn-group mb-3">
            <button class="btn btn-outline-success" (click)="openOrder()">Open Order</button>
            <button class="btn btn-outline-success" (click)="delete()">Cancel</button>
        </div>
    </div>
</div>


