<h3 style="text-align: center;">How to</h3>
<ol>
    <li>Account creation</li>
    <ul>
        <li>Click "Trading" tab.</li>
        <li>Click "Add account".</li>
        <li>Name your account.</li>
        <li>Use default settings for leverage and balance or set custom values:</li>
        <ul>
            <li>what is leverage: 
                <a href="https://www.investopedia.com/ask/answers/06/forexleverage.asp">https://www.investopedia.com/ask/answers/06/forexleverage.asp</a>
            </li>
            <li>set account balance in $</li>
        </ul>
        <li>Click "Save account"</li>
    </ul>
    <li>Add order</li>
    <ul>Click "Add order"
        <li>Open order using default values or set custom values:</li>
        <ul>
            <li>When setting take profit and stop loss value backend return tp and sl value in given currency based on lot value.</li>
            <li>What are take profit and stop loss 
                <a href="https://fxscouts.com/forex-education/what-is-stop-loss-and-take-profit/">https://fxscouts.com/forex-education/what-is-stop-loss-and-take-profit/</a>
            </li>
            <li>Set buy or sell.</li>
        </ul>
        <li>Click "Open order"</li>
    </ul>
</ol>
<p>After the order is opened values are updated based on real-time data every 5 minutes.
    When the order reach take-profit or stop-loss value orders are automatically closed.</p>
<p>You can create as many accounts and orders per account as you want.</p>